@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'the-seasons';
    src: url('../../fonts/the-seasons.ttf');
}

@font-face {
    font-family: 'aileron';
    src: url('../../fonts/aileron.ttf');
}


* {
    user-select: none;
    user-zoom: none;
}

:root {
    --primary-background-color: #E3DADA; 
    --secondary-background-color: #801313;
    --tertiary-background-color: #640F0F;
    --quinary-background-color: #3D1314;
    --quaternary-background-color: #6E1815;

    --primary-text-color: #3D1314;
    --secondary-text-color: #fff;
    --tertiary-text-color: #000;
}


body {
    background-color: var(--primary-background-color);
}

/* TYPOGRAPHY */

.text-link {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--primary-text-color) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    &.active {
        color: var(--secondary-text-color) !important;
        background-color: var(--quinary-background-color);
    }
}

.section-title {
    position: relative;
    z-index: 9;
    text-align: center;
    color: var(--primary-text-color);
    & h1 {
        font-size: 60px;
        font-family: 'the-seasons';
        font-weight: 600;
    }
    & h5 {
        font-family: 'Poppins';
    }
}

.text-justify {
    text-align: justify;
}

/* BUTTONS */

.btn-custom {
    padding: 10px 30px 10px 30px;
    background-color: transparent;
}

.btn-custom-outline {
    border: 2px solid var(--quinary-background-color);
    transition: all ease 0.3s;
    &:hover {
        color: var(--secondary-text-color);
        box-shadow: inset 8.5em 0 0 0 var(--primary-text-color);
    }
}

.btn-custom-light {
    border: 1px solid var(--quaternary-background-color);
    background-color: var(--primary-background-color);
    text-transform: uppercase;
}